

.blog-post {
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 15px;
}


.image-container {
    position: relative;
    filter: grayscale(20%);
    transition: transform 0.3s linear;
}

.image-container:hover{
    transform: scale(1.01);
}

/* Add the overlay */
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: #f267275a; */
    /* Adjust the overlay color and opacity as needed */
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease-in-out;
    width: 100%;
        /* Cover the entire width of the image */
    height: 100%;
        /* Cover the entire height of the image */
}

/* Fade in the overlay on hover */
.image-container:hover::before {
    opacity: 1;
}

.post-content{
    padding: 30px;
}

.image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.date {
    font-size: 15px;
    font-weight: 600;
    color: #f26627;
    margin-top: 5px;
}

.title {
    font-size: 35px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.short-content {
    color: #978c8c;
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}

.author,
.category {
    margin-left: 5px;
    margin-right: 15px;
    color: #f26627;
}

.author-category {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

